/* 전체 폰트 */
* {
    font-size: px;
    margin: 0;
    padding: 0;
}

/* 상단 네비 하이드바 */
.navbarHeader {
    background-color: #212529;
    color: white;
}


/* h4 white text */
.h4-text-white{
    margin: 0px 0px 8px;
}

/* 헤더 p텍스트 하이드 */
.p-text-mute{
    margin: 0px 0px 16px;
    visibility: hidden;
}

/* 헤더 콘텍트 리스트 링크제거 */
li > a{
    text-decoration: underline;
    color: aliceblue;
}

/* 헤더 콘텍트 리스트 아이콘 */
li {
    font-size: 18px;
    color: #212529;
}

/* 헤더 어바웃 속성 */
.div-header-about{
    font-size: 30px;
    padding: 24px 12px;
    width: 360px;
    height: 242px;
}

/* 헤더 컨텍트 속성 */
.div-header-contact{
    font-size: 25px;
    padding: 24px 12px;
    width: 180px;
    height: 242px;
}

/* 헤더 어바웃, 컨텍트 */
.div-header-set {
    max-width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */

}

/* 헤더 카메라 영역 */
.div-camera-area{
    font-size: 30px;

    padding: 8px 0px;
    background-color: #212529;
    
}

/* 헤더 카메라 앨범 + 메뉴*/
.div-camera-album-menu{
    max-width: 1320px;
    margin: auto;
    padding: 0px 12px;
    background-color: #212529;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 헤더 카메라 앨범 */
.div-camera-album{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
}

.svg-header-camera{
    margin: 0px 8px 0px 0px;
}

/* 헤더 메뉴버튼 영역 */
.header-button{
    border:  1px solid gray;
    padding: 4px 12px;
    width: 56px;
    height: 42px;
    background-color: #212529;
    border-radius: 10px;
}

/* 헤더 메뉴버튼 메뉴 */
.header-button-munu{
    width: 30px;
    height: 30px;
}

.header-button-munu:hover

/* 메인섹션 */
.section-main-area{
    margin: 0px 37.5px;
    padding: 48px 12px;
}

/* 메인 */
.div-main-area{
    max-width: 1320px;
    margin: 0px 37.5px;
    margin: auto;
    padding: 48px 12px;
}

/* 메인텍스트영역 */
.div-main-text-area{
    padding: 0px 12px;
    text-align: center;
}

.h1-main-title{
    font-size: 40px;
    font-weight: 300;
    margin: 0px 0px 8px;
}

.p-main-hide{
    color: gray;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    font-size: 1.25rem;
    font-weight: 300;
}

.p-main-button{
    margin: 0px 0px 16px;
    align-items: center;
    justify-content: center;
}

.a-main-button1{
    margin: 8px 0px;
    padding: 6px 12px;
    text-decoration: none;
    color: aliceblue;
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    border-radius: 7px;
}

.a-main-button2{
    margin: 8px 0px;
    padding: 6px 12px;
    text-decoration: none;
    color: aliceblue;
    background-color: #6c757d;
    border: 1px solid #6c757d;
    border-radius: 7px;
}

/* 썸네일영역 및 백그라운드 */
.div-thumbnail-area{

    padding: 48px 0px;
    background-color: rgba(253, 251, 251, 0.993);
    /* box-sizing: border-box; */
}

/* 썸네일 영역 및 컨테이너 */
.div-thumbnail-container{
    /* max-width: auto; */
    margin: 0px 27.5px;
    padding: 0px 12px;
}

/* 썸네일 아이템 정렬 */
.div-thumbnail-row{
    max-width: 1320px;
    /* margin: -16px -0px; */
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* justify-content: center; */
    /* --bs-bg-opacity: 1; */
}

/* 썸네일 한셀 영역 */
.div-thumbnail-col{
    margin: 16px 0px 0px 0px;
    padding: 0px 8px;
    /* border-radius: 20px; */
 
}

/* 썸네일 + 바디 영역 */
.div-thumbnail-card {
    border-radius: 12px;
    width: 418px;
    height: 380px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    
}

/* 썸네일 이미지영역 */
.svg-thumbnail{
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
}

/* 썸네일 바디영역 */
.div-thumbnail-body{
    padding: 16px;
}

/* 썸네일 바디 텍스트 */
.p-thumbnail-text{
    margin: 0px 0px 16px;
}

/* 썸네일 바디 하단 세트 */
.div-thumbnail-body-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 썸네일 바디 하단 버튼세트 */
.div-thumbnail-buttonset{
    /* border-radius: 0.375em; */
    /* position: relative; */
    display: inline-flex;
    /* vertical-align: middle; */

}

/* 썸네일 바디 하단 버튼1 */
.button-thumbnail-body1{
    color: gray;
    border-radius: 0.375em;
    border: 1px solid gray;
    padding: 7px 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgba(253, 251, 251, 0.993);
}
/* 썸네일 바디 하단 버튼2 */
.button-thumbnail-body2{
    color: gray;
    border-radius: 0.375em;
    border: 1px solid gray;
    border-left: none;
    padding: 7px 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgba(253, 251, 251, 0.993);

}

/* 썸네일 바디 하단 시간 */
.small-thumbnail-time{
    font-size: 15px;
    color: gray;
}

/* 푸터 영역 */
.footer-area{
    width: 1320px;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    padding: 48px 0px;
}

/* 푸터 컨테이너 영역*/
.div-footer-container{
    font-size: 15px;
    color: gray;
    padding: 0px 12px;
}

/* 푸터 url */
.p-footer-url{
    text-align: right;
    color: #0d6efd;
    text-decoration: underline;
    margin: 0px 0px 4px;
}

/* 푸터 toptext */
.p-pooter-toptext{
    margin: 0px 0px 4px;
}
